<!DOCTYPE html>
<!-- This page lists basic information about the most current generation of video game consoles -->
<html lang="en">

<head>
	<title>Video Game Console Generations</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	<header>
		<h1>
			Welcome to the Video Game Console Information Site
		</h1>
	</header>
	<h1>
		9th (Current) Generation Consoles
	</h1>

	{% with messages = get_flashed_messages() %} {% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %} {% endwith %}

	<div style="width: 100%">
		<div style="width: 50%; float: left;align-content: center">
			<ul>
				<li><a href="https://www.playstation.com/en-us/ps5/">
						<h2>Sony Playstation 5</h2>
					</a>
					<br>
                <img src="../static/PlayStation_5_and_DualSense_with_transparent_background.png"
                     alt="Image of Playstation 5" width="200">
                <br>Disc Model<br>
                <ul>
                    <li>2020 - present</li>
                    <li>$ 500 (disc)</li>
                    <li>$ 400 (digital)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="width: 50%; float: right;align-content: center">
        <ul>
            <li><a href="https://www.xbox.com/en-US/consoles/xbox-series-x"><h2>Microsoft Xbox
                Series
                X/S</h2></a>
                <br>
                <img src="../static/Xbox_series_X_(50648118708).jpg"
                     alt="Image of Xbox Series X" width="200">
                <br>Series X<br>
                <ul>
                    <li>2020 - present</li>
                    <li>$ 500 (Series X)</li>
                    <li>$ 300 (Series S)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<br>
<br>
<br>
<ul>
    <li><a href="{{ url_for('show_login') }}"><h3>Site Login</h3></a></li>
    <li><a href="{{ url_for('show_register') }}"><h3>Site Registration</h3></a></li>
    <li><a href="{{ url_for('show_8th_gen') }}"><h3>8th Generation</h3></a></li>
    <li><a href="{{ url_for('show_previous') }}"><h3>Previous Generations</h3></a></li>
    <li><a href="{{ url_for('show_about') }}"><h3>About</h3></a></li>
</ul>
Current Date and Time: {{ datetime }}
</body>
</html>