<!DOCTYPE html>
<!-- This page lists basic information about the previous generations of video game consoles -->
<html lang="en">
<head>
    <title>Previous Generations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<header>
    <h1>
        Previous Video Game Console Generations
    </h1>
</header>
<ol>
    <li><h2>First Generation</h2>
        <ul>
            <li><h3>Magnavox Odyssey</h3>
                <ul>
                    <li>1972</li>
                    <li>$ 100</li>
                    <li>Units Sold: 350,000</li>
                </ul>
            </li>
            <li><h3>Epoch Co. TV Tennis Electrotennis</h3>
                <ul>
                    <li>1975</li>
                    <li>&#165 19,000</li>
                    <li>Units Sold: 20,000</li>
                </ul>
            </li>
            <li><h3>Atari Home Pong</h3>
                <ul>
                    <li>1975</li>
                    <li>$ 98.95</li>
                    <li>Units Sold: 150,000</li>
                </ul>
            </li>
            <li><h3>Coleco Telstar series</h3>
                <ul>
                    <li>1976</li>
                    <li>$ 50</li>
                    <li>Units Sold: 1,000,000</li>
                </ul>
            </li>
            <li><h3>Nintendo Color TV-Game</h3>
                <ul>
                    <li>1977</li>
                    <li>&#165 48,000</li>
                    <li>Units Sold: 1,500,000</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Second Generation</h2>
        <ul>
            <li><h3>Fairchild Channel F</h3>
                <ul>
                    <li>1972 - 1975</li>
                    <li>$ 169.95</li>
                    <li>Units Sold: 250,000</li>
                </ul>
            </li>
            <li><h3>Atari VCS/2600 Sears Video Arcade</h3>
                <ul>
                    <li>1977</li>
                    <li>$ 199</li>
                    <li>Units Sold: 30,000,000</li>
                </ul>
            </li>
            <li><h3>Bally Astrocade</h3>
                <ul>
                    <li>1978</li>
                    <li>$ 299</li>
                    <li>Units Sold: Unknown</li>
                </ul>
            </li>
            <li><h3>Magnavox Odyssey</h3>
                <ul>
                    <li>1979</li>
                    <li>$ 200</li>
                    <li>Units Sold: 2,000,000</li>
                </ul>
            </li>
            <li><h3>Mattel Intellivision</h3>
                <ul>
                    <li>1980</li>
                    <li>$ 299</li>
                    <li>Units Sold: 3,000,000</li>
                </ul>
            </li>
            <li><h3>Emerson Arcadia 2001</h3>
                <ul>
                    <li>1982</li>
                    <li>$ 200</li>
                    <li>Units Sold: Unknown</li>
                </ul>
            </li>
            <li><h3>ColecoVision</h3>
                <ul>
                    <li>1982</li>
                    <li>$ 175</li>
                    <li>Units Sold: 2,000,000</li>
                </ul>
            </li>
            <li><h3>Atari 5200</h3>
                <ul>
                    <li>1982</li>
                    <li>$ 270</li>
                    <li>Units Sold: 1,000,000</li>
                </ul>
            </li>
            <li><h3>Milton Bradley Vectrex</h3>
                <ul>
                    <li>1983</li>
                    <li>$ 199</li>
                    <li>Units Sold: Unknown</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Third Generation</h2>
        <ul>
            <li><h3>Sega SG-100</h3>
                <ul>
                    <li>1983</li>
                    <li>&#165 15,000</li>
                    <li>Units Sold: 160,000</li>
                </ul>
            </li>
            <li><h3>Nintendo Entertainment System</h3>
                <ul>
                    <li>1983</li>
                    <li>$ 180</li>
                    <li>Units Sold: 61,910,000</li>
                </ul>
            </li>
            <li><h3>Sega Master System</h3>
                <ul>
                    <li>1985</li>
                    <li>$ 199.99</li>
                    <li>Units Sold: 17,800,000</li>
                </ul>
            </li>
            <li><h3>Atari 7800</h3>>
                <ul>
                    <li>1986</li>
                    <li>$ 140</li>
                    <li>Units Sold: 1,000,000</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Fourth Generation</h2>
        <ul>
            <li><h3>NEC TurboGrafx-16</h3>
                <ul>
                    <li>1989</li>
                    <li>$ 199.99</li>
                    <li>Units Sold: 10,000,000</li>
                </ul>
            </li>
            <li><h3>Sega Genesis</h3>
                <ul>
                    <li>1989</li>
                    <li>$ 189.99</li>
                    <li>Units Sold: 35,250,000</li>
                </ul>
            </li>
            <li><h3>Nintendo Super NES</h3>
                <ul>
                    <li>1991</li>
                    <li>$ 199.99</li>
                    <li>Units Sold: 41,900,000</li>
                </ul>
            </li>
            <li><h3>SNK Neo Geo</h3>>
                <ul>
                    <li>1991</li>
                    <li>$ 399.99</li>
                    <li>Units Sold: 980,000</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Fifth Generation</h2>
        <ul>
            <li><h3>3DO Interactive Multiplayer</h3>
                <ul>
                    <li>1993</li>
                    <li>$ 699.99</li>
                    <li>Units Sold: 2,000,000</li>
                </ul>
            </li>
            <li><h3>Atari Jaguar</h3>
                <ul>
                    <li>1993</li>
                    <li>$ 249.99</li>
                    <li>Units Sold: 250,000</li>
                </ul>
            </li>
            <li><h3>Sega Saturn</h3>
                <ul>
                    <li>1995</li>
                    <li>$ 399.99</li>
                    <li>Units Sold: 9,260,000</li>
                </ul>
            </li>
            <li><h3>Sony Playstation</h3>>
                <ul>
                    <li>1995</li>
                    <li>$ 299.99</li>
                    <li>Units Sold: 102,490,000</li>
                </ul>
            </li>
            <li><h3>Nintendo 64</h3>>
                <ul>
                    <li>1996</li>
                    <li>$ 199.99</li>
                    <li>Units Sold: 32,930,000</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Sixth Generation</h2>
        <ul>
            <li><h3>Sega Dreamcast</h3>
                <ul>
                    <li>1999</li>
                    <li>$ 199.99</li>
                    <li>Units Sold: 9,130,000</li>
                </ul>
            </li>
            <li><h3>Sony Playstation 2</h3>
                <ul>
                    <li>2000</li>
                    <li>$ 299.99</li>
                    <li>Units Sold: 155,000,000</li>
                </ul>
            </li>
            <li><h3>Nintendo GameCube</h3>
                <ul>
                    <li>2001</li>
                    <li>$ 199.99</li>
                    <li>Units Sold: 22,000,000</li>
                </ul>
            </li>
            <li><h3>Microsoft Xbox</h3>
                <ul>
                    <li>2001</li>
                    <li>$ 299.99</li>
                    <li>Units Sold: 24,000,000</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Seventh Generation</h2>
        <ul>
            <li><h3>Microsoft Xbox 360</h3>
                <ul>
                    <li>2005</li>
                    <li>$ 399</li>
                    <li>Units Sold: 84,000,000</li>
                </ul>
            </li>
            <li><h3>Sony Playstation 3</h3>
                <ul>
                    <li>2006</li>
                    <li>$ 599.99</li>
                    <li>Units Sold: 87,400,000</li>
                </ul>
            </li>
            <li><h3>Nintendo Wii</h3>
                <ul>
                    <li>2006</li>
                    <li>$ 249.99</li>
                    <li>Units Sold: 101,630,000</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="{{ url_for('show_8th_gen') }}"><h2>8th Generation</h2></a></li>
</ol>
<p><a href="{{ url_for('show_home') }}">Return Home</a></p>

</body>
</html>