<!DOCTYPE html>
<!-- Displays login page for the website -->
<html lang="en">

<head>
    <title>Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<header>
    <h1>Update Password</h1>
</header>

{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

<form action="{{ url_for('handle_update') }}" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="old_password">Current Password</label>
        <input type="password" id="old_password" name="old_password">
    </div>
        <div>
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" name="new_password">
    </div>    <div>
        <label for="new_password2">Re-enter Password</label>
        <input type="password" id="new_password2" name="new_password2">
    </div>
    <div>
        <input type="submit" class="submit" value="Update">
    </div>
</form>

<p>Page Creator: Will Feighner</p>
<p>Last Updated: 2021-05-01</p>
<p><a href="{{ url_for('show_home') }}">Return Home</a></p>
<!--
IDE version: PyCharm Professional 2021.1.1
-->
</body>
</html>